Repository laofeng12/ioc-olap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-web, build-java, build-job

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
image: ayufan/openshift-cli

stages:
  - build-web
  - build-java
  - build-job

variables:
  OPENSHIFT_SERVER: https://master.alltosea.com:8443
  # Configure this variable in Secure Variables:
  # OPENSHIFT_TOKEN: my.openshift.token

build-web:
  stage: build-web
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_WEB_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-ui/**/*
build-java:
  stage: build-java
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_SVC_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-svc/**/*
build-job:
  stage: build-job
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_JOB_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-job/**/*

fixbug
  ioc-olap-ui/src/components/analysisComponent/Queries.vue
  ioc-olap-ui/src/components/analysisComponent/ShareList.vue
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
  ioc-olap-ui/src/views/analysisModel/analysisList.vue
Due: build-web

添加注释
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/CubeDescDataMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/CubeDescMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/ModelingMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/ModelsDescDataMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/ModelsMapper.java
Due: build-java

修改版本号
  ioc-olap-job-svc/pom.xml
Due: none

344
  ioc-olap-ui/package.json
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/store/getters.js
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/views/analysisModel/createolap.vue
Due: build-web

177-fixbug-OLAP模型-模型列表-构建-弹框日期格式与创建模型设置时不一致
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/construct.vue
  ioc-olap-ui/src/views/analysisModel/analysisList.vue
Due: build-web

367
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
Due: build-web

221-fixbug-OLAP分析-引用列表已禁用，分析结果编辑/分享功能提示优化
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
Due: build-web

elementui 降低版本2.12.0
  ioc-olap-ui/package.json
Due: build-web

221-fixbug-OLAP分析-引用列表已禁用，分析结果编辑/分享功能提示优化
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

339
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
Due: build-web

234-bi-olap
  ioc-olap-ui/src/components/analysisComponent/ShareList.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

376
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
Due: build-web

375
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
Due: build-web

BI分析报表-OLAP分析-新建OLAP分析-增加x轴y轴必填验证
  ioc-olap-ui/src/components/analysisComponent/common/ResultBoxMini.vue
Due: build-web

补充遗漏的虚拟表名替换
  ioc-olap-svc/src/main/java/com/openjava/olap/common/TableNameTransposition.java
Due: build-java

非空判断
  ioc-olap-svc/src/main/java/com/openjava/olap/common/TableNameTransposition.java
Due: build-java

第三步切换模式显示的问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

'最后提交数据补充'
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

'过滤时间字段'
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
Due: build-web

补充遗漏的表名替换
  ioc-olap-svc/src/main/java/com/openjava/olap/common/TableNameTransposition.java
Due: build-java

378
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/store/olap/reloadSet.js
Due: build-web

增加非空判断
  ioc-olap-svc/src/main/java/com/openjava/olap/common/TableNameTransposition.java
Due: build-java

打印日志排查定时问题
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
Due: none

修复定时周期bug
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
Due: none

272
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
Due: build-web

nhc-portal更新
  ioc-olap-ui/package.json
  ioc-olap-ui/src/api/menu.js
  ioc-olap-ui/src/components/analysisComponent/SaveResult.vue
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
Due: build-web

修复时间格式化转换失败问题
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
Due: none

更新nhc-portal
  ioc-olap-ui/package.json
Due: build-web

221
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
Due: build-web

修复计算后的时间格式化问题
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
Due: none

补充共享列表的批量删除接口
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapShareAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapShareServiceImpl.java
Due: build-java

420
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/construct.vue
Due: build-web

修改查询模型共享列表，返回当前用户的模型对应的共享id；修复定时构建问题
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/CubeMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/vo/ShareCubeVo.java
Due: build-java

构建列表增加下拉按钮
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
Due: build-web

调整分享弹窗
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

分享列表增加删除,已经样式优化
  ioc-olap-ui/src/api/modelList.js
  ioc-olap-ui/src/components/analysisComponent/ShareList.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/styles/reset-element-ui.scss
Due: build-web

'第三步及第七步优化'
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/store/olap/setFiled.js
  ioc-olap-ui/src/views/analysisModel/analysisList.vue
Due: build-web

分析二维转多维算法优化
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java

OLAP分析算法优化
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java
