Repository laofeng12/ioc-olap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-web, build-java, build-job

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
image: ayufan/openshift-cli

stages:
  - build-web
  - build-java
  - build-job

variables:
  OPENSHIFT_SERVER: https://master.alltosea.com:8443
  # Configure this variable in Secure Variables:
  # OPENSHIFT_TOKEN: my.openshift.token

build-web:
  stage: build-web
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_WEB_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-ui/**/*
build-java:
  stage: build-java
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_SVC_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-svc/**/*
build-job:
  stage: build-job
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_JOB_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-job/**/*

'优化代码'
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
Due: build-web

merge 调整
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/addMeasure.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/BaseInfoPanel.vue
  ioc-olap-ui/src/store/olap/selectStep.js
  ioc-olap-ui/vue.config.js
Due: build-web

#115 bug fix
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java

修复构建链路过程bug
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapQuerySyncResultJob.java
  ioc-olap-job-svc/src/main/resources/application-dev.yml
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/RestToken.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/CubeMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeBuildServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
  ioc-olap-svc/src/main/resources/application-dev.yml
Due: build-java

模型相关启用、禁用、构建等增加验证
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/CubeHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/ModelHttpClient.java
Due: build-java

#282 bug fix
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
Due: build-java

解决冲突以及列表状态调整
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/BaseInfoPanel.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/store/getters.js
  ioc-olap-ui/src/store/olap/selectStep.js
  ioc-olap-ui/src/utils/rules.js
Due: build-web

修改构建的逻辑，去掉复杂的过程
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapQuerySyncResultJob.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapTimingrefresh.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapFilterCondidionRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapTableSyncRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeBuildService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeBuildServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTableSyncService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTableSyncServiceImpl.java
Due: build-java

发布接口优化
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapAnalyzeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
Due: build-java

临时
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
Due: build-web

修改替换表名逻辑
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/TableNameTransposition.java
Due: build-java

临时
  ioc-olap-ui/src/components/analysisComponent/createComponent/demo.vue
Due: build-web

第七步显示underfined的问题,换了接口没有database暂时这样处理
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/store/modules/olap.js
Due: build-web

'正则写法修改'
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/utils/rules.js
Due: build-web

增加加载中
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/demo.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/selectModal.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/selectStep.js
Due: build-web

升级到R06b
  ioc-olap-svc/pom.xml
Due: build-java

'增加限制'
  ioc-olap-ui/src/components/analysisComponent/dialog/addMeasure.vue
Due: build-web

修复定时构建更新模型状态bug
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
Due: none

显示表名
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
  ioc-olap-ui/src/components/analysisComponent/olapAside/index.vue
Due: build-web

虚拟表名
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
Due: build-web

模型详情的虚拟表名替换
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/TableNameTransposition.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
Due: build-java

“模型构建修改”、虚拟表名修改的逻辑
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
Due: build-java

修改抛出的异常
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
Due: build-java

'olapbug修复'
  ioc-olap-ui/package.json
  ioc-olap-ui/src/components/analysisComponent/Queries.vue
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
Due: build-web

补充遗漏的属性
  ioc-olap-svc/src/main/resources/application-test.yml
Due: build-java

修复job无法启动问题
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapQuerySyncResultJob.java
  ioc-olap-job-svc/src/main/resources/application-test.yml
Due: none

升级到R06c
  ioc-olap-svc/pom.xml
Due: build-java

修复olap分析报错问题；补充其他环境的配置属性；
  ioc-olap-job-svc/src/main/resources/application-govtest.yml
  ioc-olap-job-svc/src/main/resources/application-test.yml
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
  ioc-olap-svc/src/main/resources/application-dev.yml
  ioc-olap-svc/src/main/resources/application-govtest.yml
  ioc-olap-svc/src/main/resources/application-test.yml
Due: build-java

'bug修复'
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/addMeasure.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/store/olap/selectStep.js
Due: build-web

修改同步记录接口返回的参数；返回hive表结构
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/HiveHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/TableStructureColumnsMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/TableStructureMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/query/OlapTableSyncParam.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTableSyncServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/vo/OlapTableSyncVo.java
Due: build-java

固定值改为使用变量名
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
Due: build-java

'优化数据类型'
  ioc-olap-ui/src/components/analysisComponent/dialog/addMeasure.vue
Due: build-web

自动补全库名
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
Due: build-java

更换真实表名的生成规则
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTableSyncServiceImpl.java
Due: build-java

'bug修复'
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/BaseInfoPanel.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/construct.vue
Due: build-web

补充遗漏的表名替换
  ioc-olap-svc/src/main/java/com/openjava/olap/common/TableNameTransposition.java
Due: build-java

修复编辑OLAP的时候第二步显示表名的问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/store/modules/olap.js
Due: build-web

批量创建任务增加虚拟表名
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
Due: build-web

同步时和加载hive表结构的异常处理
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/HiveHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/PreloadTableMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/query/OlapTableSyncParam.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTableSyncServiceImpl.java
Due: build-java

'bug修复'
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/construct.vue
Due: build-web
