Repository laofeng12/ioc-olap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-web, build-java, build-job

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
image: ayufan/openshift-cli

stages:
  - build-web
  - build-java
  - build-job

variables:
  OPENSHIFT_SERVER: https://master.alltosea.com:8443
  # Configure this variable in Secure Variables:
  # OPENSHIFT_TOKEN: my.openshift.token

build-web:
  stage: build-web
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_WEB_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-ui/**/*
build-java:
  stage: build-java
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_SVC_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-svc/**/*
build-job:
  stage: build-job
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_JOB_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-job/**/*

解决冲突
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/selectModal.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
  ioc-olap-ui/src/views/analysisModel/createolap.vue
  ioc-olap-ui/vue.config.js
Due: build-web

修改定时任务代码
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
  ioc-olap-job-svc/src/main/resources/application-dev.yml
Due: none

修改克隆逻辑
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/CubeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeTableRelationRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeTableRelationService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeTableRelationServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTimingrefreshService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTimingrefreshServiceImpl.java
Due: build-java

配置文件被覆盖修改
  .gitignore
  ioc-olap-svc/src/main/resources/application-dev.yml
Due: build-java

job配置文件修改
  ioc-olap-job-svc/src/main/resources/application-dev.yml
Due: none

测试环境配置修改
  ioc-olap-svc/src/main/resources/application-test.yml
Due: build-java

job配置文件修改
  ioc-olap-job-svc/src/main/resources/application-test.yml
Due: none

修改
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/views/analysisModel/createolap.vue
  ioc-olap-ui/vue.config.js
Due: build-web

完成rowkey与维度不匹配的判断
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/setcomplate.vue
  ioc-olap-ui/vue.config.js
Due: build-web

解决
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/setcomplate.vue
  ioc-olap-ui/vue.config.js
Due: build-web

修改
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

完成刷新设置的选择表
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/factTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
Due: build-web

1、已完成—构建保存定时任务加上是否开启的逻辑判断 2、已完成—优化立方体删除
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/CubeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapCubeTableRelation.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapDatalaketable.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapFilter.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapFilterCondidion.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapTimingrefresh.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeTableColumnRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeTableRelationRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeTableRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapFilterRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapTimingrefreshRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapFilterService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapFilterServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTimingrefreshService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTimingrefreshServiceImpl.java
Due: build-java

1、优化查询过滤 2、优化删除立方体的时候也删除过滤表
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapFilterCondidion.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapFilterCondidionRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeTableColumnServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapFilterCondidionService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapFilterCondidionServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapFilterServiceImpl.java
Due: build-java

olap模型第三步加foregn_key判断
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/factTable.vue
  ioc-olap-ui/src/store/getters.js
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/createTableRelation.js
Due: build-web

完善编辑、保存
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/factTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/trees.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/setAdvance.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/setReload.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/createTableRelation.js
Due: build-web

1、抛出保存cube和bui的错误信息
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/CubeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/HttpClient.java
Due: build-java

1、优化克隆的时候带上第一步选择的表。
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapDatalaketableRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapDatalaketableService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapDatalaketableServiceImpl.java
Due: build-java

增加选择维度判断、完善查看编辑功能
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/setReload.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/settableLine.vue
  ioc-olap-ui/src/store/olap/setFiled.js
  ioc-olap-ui/src/utils/index.js
Due: build-web

优化代码
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/store/olap/reloadSet.js
Due: build-web

.
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectAggregation.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/trees.vue
  ioc-olap-ui/src/store/getters.js
  ioc-olap-ui/src/store/olap/advancedSet.js
  ioc-olap-ui/src/store/olap/selectStep.js
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

'定时刷新构建列表和配置测试环境链接'
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/store/modules/app.js
Due: build-web

'更新框架包并修改代理配置'
  ioc-olap-ui/package.json
  ioc-olap-ui/vue.config.js
Due: build-web

'优化vue项目初始配置'
  ioc-olap-ui/vue.config.js
Due: build-web

更新代码
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/views/analysisModel/createolap.vue
Due: build-web

更新代码
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectAggregation.vue
Due: build-web

重构Kylin底层模块，修复重构出现的BUG
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapAnalyzeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/CubeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/EncodingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/HiveAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/JobsAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/ModelsAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/ProjectAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/TableStructureAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/kylin/UserAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/HttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/CubeHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/HiveHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/JobHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/KylinHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/ModelHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/ProjectHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/TableHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/UserHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/ModelsDescDataMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java

完善建表时候事实表必须为主表的问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/store/modules/app.js
Due: build-web

完善第一步数据湖和本地上传的复选框的操作记录
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/trees.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/selectStep.js
Due: build-web

'表格跨行异常处理'
  ioc-olap-ui/src/views/analysisModel/analysis.vue
Due: build-web

'日志图标增加等待错误图标'
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
Due: build-web

修复编辑时uuid的一个判断问题
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
Due: build-java

汇总bug修改
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java

修复查看给坐标前端时别名和列名给混的错误
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
Due: build-java

完成编辑的保存对接
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectAggregation.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/trees.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/selectStep.js
  ioc-olap-ui/vue.config.js
Due: build-web

修改测试环境配置
  ioc-olap-svc/src/main/resources/application-test.yml
Due: build-java

修改添加度量的字段控制
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/selectModal.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/addMeasure.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectAggregation.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/trees.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/selectStep.js
  ioc-olap-ui/src/utils/index.js
  ioc-olap-ui/vue.config.js
Due: build-web

'穿梭框优化及构建模型搜索bug解决'
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/sharedTable.vue
Due: build-web

'删除测试代码'
  ioc-olap-ui/src/store/modules/app.js
Due: build-web

修改导出代码
  ioc-olap-svc/src/main/java/com/openjava/olap/common/Export.java
Due: build-java
