Repository laofeng12/ioc-olap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-web, build-java, build-job

build-web:
  stage: build-web
  before_script:
  - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
  - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
  - oc start-build $CI_WEB_NAME --from-dir=. --follow
  tags:
  - cicd

build-java:
  stage: build-java
  before_script:
  - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
  - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
  - oc start-build $CI_SVC_NAME --from-dir=. --follow
  tags:
  - cicd

build-job:
  stage: build-job
  before_script:
  - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
  - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
  - oc start-build $CI_JOB_NAME --from-dir=. --follow
  tags:
  - cicd

341 以及其他代码优化调整
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/store/olap/advancedSet.js
  ioc-olap-ui/src/store/olap/selectStep.js
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

去掉无效的import
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java

创建批量任务替换列的类型
  ioc-olap-ui/src/store/olap/selectStep.js
Due: build-web

查找事实表坐标轴时忽略大小写判断；建模时校验坐标轴
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeTableServiceImpl.java
Due: build-java

'第二步优化'
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
Due: build-web

修改政务内网数据集接口地址和网关接口地址配置
  ioc-olap-svc/src/main/resources/application-govtest.yml
Due: build-java

构建之后不能在编辑
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

'数据大小写统一'
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
Due: build-web

计算表格合并数出错也显示表格，方便查看是哪一条数据出错
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
Due: build-web

计算表格合并数出错也显示表格，方便查看是哪一条数据出错
  ioc-olap-ui/src/views/analysisModel/analysis.vue
Due: build-web

解决OLAP分析返回值问题
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java

修复第三步勾选得时候样式显示，位置不对得问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
Due: build-web

修复当选择的数据源不在当前列表中，删除的时候异常情况
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/datalake.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
Due: build-web

'大小写判断优化'
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
Due: build-web

加载表结构前，先判断项目是否已创建
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTableSyncServiceImpl.java
Due: build-java

数据类型调整
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
Due: build-web

platform-framework升级到R06f
  ioc-olap-job-svc/pom.xml
Due: none

即席分析拼接SQL语句时格式化某些不合法语法；新建模型时补充遗漏的虚拟表名属性替换；模型详情返回维度id时通过列表来比较后设置
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/TableNameTransposition.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java

虚拟表名替换前判断长度是否等于2
  ioc-olap-svc/src/main/java/com/openjava/olap/common/TableNameTransposition.java
Due: build-java

423
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/datalake.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/selectModal.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/trees.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/selectStep.js
  ioc-olap-ui/src/views/analysisModel/createolap.vue
Due: build-web

'bug修复'
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/addMeasure.vue
  ioc-olap-ui/src/store/modules/olap.js
Due: build-web

'bug修复'
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
Due: build-web

396
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
Due: build-web

获取当前登录人的立方体接口返回isInclude=1；修改同步接口，默认传递businessId
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapAnalyzeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/query/OlapTableSyncParam.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapTableSyncRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTableSyncServiceImpl.java
Due: build-java

432
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/selectStep.js
Due: build-web

进度条
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
Due: build-web

elementui 版本2.12.0
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
Due: build-web

列表增加轮询，优化构建得轮询
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

399
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
Due: build-web

定时频率
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

构建列表频率
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

'bug修复'
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/BaseInfoPanel.vue
Due: build-web

错误提示关闭之前的提示
  ioc-olap-ui/src/utils/fetch.js
Due: build-web

'增加参数'
  ioc-olap-ui/src/components/analysisComponent/ShareResult.vue
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
Due: build-web

优化权限订阅
  ioc-olap-ui/src/api/newOlapModel.js
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/datalake.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
Due: build-web

397
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

397
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/clones.vue
Due: build-web

'bug修复'
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/utils/index.js
Due: build-web

修改复制后的模型的状态为就绪
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
Due: build-java

'bug修复'
  ioc-olap-ui/src/views/analysisModel/analysis.vue
Due: build-web

Path conditions:
  build-web: any of: ioc-olap-ui/**/*
  build-java: any of: ioc-olap-svc/**/*
  build-job: any of: ioc-olap-job/**/*
