Repository laofeng12/ioc-olap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-web, build-java, build-job

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
image: ayufan/openshift-cli

stages:
  - build-web
  - build-java
  - build-job

variables:
  OPENSHIFT_SERVER: https://master.alltosea.com:8443
  # Configure this variable in Secure Variables:
  # OPENSHIFT_TOKEN: my.openshift.token

build-web:
  stage: build-web
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_WEB_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-ui/**/*
build-java:
  stage: build-java
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_SVC_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-svc/**/*
build-job:
  stage: build-job
  before_script: 
    - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
    - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
    - "oc start-build $CI_JOB_NAME --from-dir=. --follow"
  tags:
    - cicd
  only:
    refs:
        - release
    changes:
        - ioc-olap-job/**/*

'删除olap分析新接口对接'
  ioc-olap-ui/src/api/olapAnalysisList.js
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
  ioc-olap-ui/src/views/analysisModel/analysisList.vue
Due: build-web

'弹窗优化'
  ioc-olap-ui/package.json
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
Due: build-web

还原代码
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/datalake.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/localUpload.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/trees.vue
  ioc-olap-ui/src/views/analysisModel/createolap.vue
Due: build-web

优建模化头部的步骤高亮
  ioc-olap-ui/src/components/analysisComponent/modelCommon/head.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/modelDetail.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/setAdvance.vue
  ioc-olap-ui/src/permission.js
  ioc-olap-ui/src/store/getters.js
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/views/analysisModel/createolap.vue
Due: build-web

bug修改
  ioc-olap-job-svc/pom.xml
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
  ioc-olap-job-svc/src/main/resources/application-dev.yml
  ioc-olap-job-svc/src/main/resources/application.yml
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapAnalyzeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/CubeHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapTimingrefresh.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/CubeHbaseMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapTimingrefreshRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
  ioc-olap-svc/src/main/resources/application.yml
Due: build-java

'查询框优化'
  ioc-olap-ui/src/components/analysisComponent/ShareList.vue
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectAggregation.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/setfactTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/steps.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/trees.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

增加判断是编辑模型还是新增模型逻辑
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/reloads.vue
  ioc-olap-ui/src/permission.js
Due: build-web

修复bug
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
Due: build-web

修改维度一行显示
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
Due: build-web

'输入框文案修改及自动查询bug修复'
  ioc-olap-ui/src/components/analysisComponent/ShareList.vue
  ioc-olap-ui/src/components/analysisComponent/common/ResultBoxMini.vue
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/views/analysisModel/analysis.vue
Due: build-web

定时任务代码逻辑修改
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/service/CubeService.java
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/service/CubeServiceImpl.java
  ioc-olap-job-svc/src/main/java/com/openjava/job/ScheduleExecutionJob.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapAnalyzeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java

'样式优化'
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/datalake.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/selectModal.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
Due: build-web

olap配置在构建中增加修改定时构建配置
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapFilterRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapTimingrefreshRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapFilterService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapFilterServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTimingrefreshService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTimingrefreshServiceImpl.java
Due: build-java

'表格调整'
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
Due: build-web

'保存即席查询不弹窗'
  ioc-olap-ui/src/components/analysisComponent/Queries.vue
  ioc-olap-ui/src/components/analysisComponent/common/ResultBox.vue
Due: build-web

'增加图标'
  ioc-olap-ui/src/components/analysisComponent/ShareList.vue
  ioc-olap-ui/src/components/analysisComponent/constructList.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

定时任务自测BUG修改
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
  ioc-olap-job-svc/src/main/resources/application-dev.yml
  ioc-olap-job-svc/src/main/resources/application-govtest.yml
  ioc-olap-job-svc/src/main/resources/application-test.yml
Due: none

完成设置别名后维度的问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

'保存旧分析会新增bug修复'
  ioc-olap-ui/src/components/analysisComponent/common/ResultBoxMini.vue
Due: build-web

bug修改
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapFolderAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapFolderRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapFolderService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapFolderServiceImpl.java
Due: build-java

'立方体禁用查询接口已完成'
  ioc-olap-ui/src/api/olapAnalysisList.js
  ioc-olap-ui/src/views/analysisModel/analysisList.vue
Due: build-web

bug修改
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapTimingrefresh.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
Due: build-java

'更新公共组件版本'
  ioc-olap-ui/package.json
Due: build-web

'表格修改'
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
  ioc-olap-ui/src/components/analysisComponent/common/ResultBox.vue
Due: build-web

.
  ioc-olap-ui/src/api/modelList.js
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/addMeasure.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectFiled.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/construct.vue
  ioc-olap-ui/src/views/analysisModel/createolap.vue
Due: build-web

job-docker环境编译出错问题修改
  ioc-olap-job-svc/src/main/resources/application-dev.yml
  ioc-olap-job-svc/src/main/resources/application-govtest.yml
  ioc-olap-job-svc/src/main/resources/application-test.yml
Due: none

Update JobApplication.java
  ioc-olap-job-svc/src/main/java/org/openjava/boot/JobApplication.java
Due: none

Update OlapJob.java
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
Due: none

增加别名编辑功能
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
Due: build-web

docker编译问题处理
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
  ioc-olap-job-svc/src/main/java/org/openjava/boot/JobApplication.java
Due: none

'文件夹重名bug修复'
  ioc-olap-ui/src/components/analysisComponent/SaveResult.vue
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
Due: build-web

修复启动报错
  ioc-olap-job-svc/src/main/java/org/openjava/boot/JobApplication.java
  ioc-olap-job-svc/src/main/resources/application-dev.yml
  ioc-olap-job-svc/src/main/resources/application-govtest.yml
  ioc-olap-job-svc/src/main/resources/application-test.yml
Due: none

引入mybatisplus
  ioc-olap-job-svc/pom.xml
Due: none

'禁用状态不可分享'
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

增加事实表不能随意操作逻辑
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/setfactTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/createTableRelation.js
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

'构建时间bug修复'
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
Due: build-web

注释下相关配置看看docker是否正常
  ioc-olap-job-svc/pom.xml
  ioc-olap-job-svc/src/main/java/org/openjava/boot/JobApplication.java
  ioc-olap-job-svc/src/main/resources/application-dev.yml
  ioc-olap-job-svc/src/main/resources/application-govtest.yml
  ioc-olap-job-svc/src/main/resources/application-test.yml
Due: none
