Repository laofeng12/ioc-olap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-web, build-java, build-job

build-web:
  stage: build-web
  before_script:
  - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
  - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
  - oc start-build $CI_WEB_NAME --from-dir=. --follow
  tags:
  - cicd

build-java:
  stage: build-java
  before_script:
  - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
  - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
  - oc start-build $CI_SVC_NAME --from-dir=. --follow
  tags:
  - cicd

build-job:
  stage: build-job
  before_script:
  - echo "192.168.6.102 master.alltosea.com" > /etc/hosts
  - oc login "$OPENSHIFT_SERVER" -u "$OPENSHIFT_USER" -p  "$OPENSHIFT_PWD" --insecure-skip-tls-verify
  script:
  - oc start-build $CI_JOB_NAME --from-dir=. --follow
  tags:
  - cicd

去掉不使用的代码
  ioc-olap-svc/src/main/java/com/openjava/olap/query/DataLakeJobQueryParam.java
  ioc-olap-svc/src/main/java/com/openjava/olap/query/OlapTableSyncParam.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapDatalaketableService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapDatalaketableServiceImpl.java
Due: build-java

'基本开发完成'
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/createTableRelation.js
Due: build-web

建表的别名默认为大写、编辑度量的问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/addMeasure.vue
  ioc-olap-ui/src/store/olap/setMeasure.js
Due: build-web

模型名称rule判断
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
Due: build-web

解决编辑模型出现的各种问题
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/RowkeyColumnMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeTableRelationServiceImpl.java
Due: build-java

修复编辑的问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/permission.js
  ioc-olap-ui/src/store/olap/setFiled.js
  ioc-olap-ui/src/store/olap/setMeasure.js
Due: build-web

构建第二步保存同步表记录；全局替换为真实表名后，重新设置虚拟表名；
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapTableSyncAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeTableServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapTableSyncServiceImpl.java
Due: build-java

添加发布接口及映射类
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/CustomApiMapper.java
Due: build-java

建模bug修改
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
Due: build-java

流程组件替换相关接口代码修改
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapCube.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/ModelingMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
Due: build-java

修复查看模型bug
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
Due: build-java

修复rowkey没有及时更新的问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/reloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/addReloadSet.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/advancedSet.js
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

升级到R06
  ioc-olap-svc/pom.xml
Due: build-java

新增一个databaseType库类型，用于保存前端传递的参数，详情返回时用于查询资源目录
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapDatalaketable.java
Due: build-java

初步完成即席查询发布接口后端代码
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/GateWayConfig.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/GateWayHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/CustomApiMapper.java
  ioc-olap-svc/src/main/resources/application-dev.yml
Due: build-java

手动构建、定时构建、定时任务查询同步任务状态逻辑实现
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapQuerySyncResultJob.java
  ioc-olap-job-svc/src/main/resources/application-dev.yml
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/CubeFlags.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/RestToken.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapCube.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapTimingrefresh.java
  ioc-olap-svc/src/main/java/com/openjava/olap/query/DataLakeJobQueryParam.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeBuildService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeBuildServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/vo/DataLakeQueryJobStatusVo.java
  ioc-olap-svc/src/main/java/com/openjava/olap/vo/DataLakeTriggerJobVo.java
  ioc-olap-svc/src/main/java/com/openjava/olap/vo/OlapCubeBuildVo.java
Due: build-java

还原注释的代码
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapTimingrefresh.java
Due: build-java

去掉transient
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapTimingrefresh.java
Due: build-java

修复维度问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setMeasure.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectAggregation.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

完成即席查询和OLAP分析发布接口功能
  ioc-olap-svc/pom.xml
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapAnalyzeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/GateWayHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/JwtTokenUtil.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/CustomApiMapper.java
Due: build-java

修复维度问题
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/store/olap/advancedSet.js
  ioc-olap-ui/src/store/olap/selectStep.js
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

olap_timingrefresh添加是否手动构建字段、是否增量字段；完善定时构建、手动构建链路；修改定时查询模型job状态更新模型的逻辑
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapJob.java
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapQuerySyncResultJob.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/kylin/JobHttpClient.java
  ioc-olap-svc/src/main/java/com/openjava/olap/domain/OlapTimingrefresh.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeBuildServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
Due: build-java

修改模型列表，模型状态值从数据库里取
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/common/CubeFlags.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/CubeMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/repository/OlapCubeRepository.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapCubeServiceImpl.java
Due: build-java

增加发布接口实体描述
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/CustomApiMapper.java
Due: build-java

'第二步组件完成'
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectAggregation.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/BaseInfoPanel.vue
  ioc-olap-ui/src/store/modules/olap.js
Due: build-web

olap建模增加rowkey数据类型
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/kylin/RowkeyColumnMapper.java
Due: build-java

修复rowkey
  ioc-olap-ui/src/components/analysisComponent/dialog/addReloadSet.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectAggregation.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/advancedSet.js
  ioc-olap-ui/src/store/olap/setFiled.js
Due: build-web

异常问题修改
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapModelingAction.java
Due: build-java

修复rowkeys
  ioc-olap-ui/src/store/modules/olap.js
Due: build-web

增加测试环境配置
  ioc-olap-svc/src/main/resources/application-govtest.yml
  ioc-olap-svc/src/main/resources/application-test.yml
Due: build-java

修复cron表达式错误的写法
  ioc-olap-job-svc/src/main/java/com/ioc/olap/job/OlapQuerySyncResultJob.java
  ioc-olap-job-svc/src/main/resources/application-dev.yml
Due: none

OLAP 第一步选择属于调整
  ioc-olap-ui/package.json
  ioc-olap-ui/src/api/modelList.js
  ioc-olap-ui/src/api/newOlapModel.js
  ioc-olap-ui/src/components/analysisComponent/common/FolderAside.vue
  ioc-olap-ui/src/components/analysisComponent/common/ResultBox.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/advancedSet.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/completeCreate.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation copy.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStep.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/selectStepComponent/datalake.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setFiled.vue
  ioc-olap-ui/src/components/analysisComponent/createComponent/setMeasure.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/createTableModal.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/publish.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/selectAggregation.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/factTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/filedTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelCommon/serchTable.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/selects.vue
  ioc-olap-ui/src/components/analysisComponent/modelListComponent/moreDetail/settableLine.vue
  ioc-olap-ui/src/store/modules/olap.js
  ioc-olap-ui/src/store/olap/selectStep.js
  ioc-olap-ui/src/styles/global.scss
  ioc-olap-ui/src/styles/reset-element-ui.scss
  ioc-olap-ui/src/views/analysisModel/analysisList.vue
  ioc-olap-ui/src/views/analysisModel/createolap.vue
  ioc-olap-ui/vue.config.js
Due: build-web

OLAP 第一步选择属于调整
  ioc-olap-ui/src/components/analysisComponent/dialog/publish.vue
Due: build-web

联调修改发布接口细节
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapAnalyzeAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
  ioc-olap-svc/src/main/java/com/openjava/olap/mapper/CustomApiMapper.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapRealQueryService.java
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapRealQueryServiceImpl.java
Due: build-java

'第二步逻辑样式优化'
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
  ioc-olap-ui/src/views/analysisModel/createolap.vue
Due: build-web

OLAP分析提示语问题修改
  ioc-olap-svc/src/main/java/com/openjava/olap/service/OlapAnalyzeServiceImpl.java
Due: build-java

'前端组件兼容分享接口数据'
  ioc-olap-ui/src/views/analysisModel/analysisList.vue
Due: build-web

olap 查询跟分析增加发布接口功能
  ioc-olap-ui/src/api/newOlapModel.js
  ioc-olap-ui/src/components/analysisComponent/SaveResult.vue
  ioc-olap-ui/src/components/analysisComponent/common/ResultBox.vue
  ioc-olap-ui/src/components/analysisComponent/dialog/constant.js
  ioc-olap-ui/src/components/analysisComponent/dialog/publish.vue
  ioc-olap-ui/src/components/analysisComponent/modelList.vue
  ioc-olap-ui/src/router/index.js
  ioc-olap-ui/src/views/analysisModel/analysisList.vue
Due: build-web

即席查询错误日志修改
  ioc-olap-svc/src/main/java/com/openjava/olap/api/OlapRealQueryAction.java
Due: build-java

'判断表关系优化'
  ioc-olap-ui/src/components/analysisComponent/createComponent/createTableRelation.vue
Due: build-web

Path conditions:
  build-web: any of: ioc-olap-ui/**/*
  build-java: any of: ioc-olap-svc/**/*
  build-job: any of: ioc-olap-job/**/*
